---
import Layout from "../layouts/Layout.astro";


---
<Layout title="Sobre mí">
    <main class="container mx-auto min-h-screen max-w-3xl p-8">
        <h1 class="text-4xl font-bold mb-8">Sobre mí</h1>
        <p class="prose">
            Soy una escritora y poeta que vive en la Ciudad de México. Me encanta escribir sobre la vida, el amor y la naturaleza. 
        </p>
    </main>
</Layout>